{% extends "layout.html" %}
{% block body %}
  {% if session.loggedIn %}
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('addCategory') }}" method=post class=add-entry>
      <dl>
        <dt>Add new category:
        <dd><input type=text size=30 name=text>
        <dd><input type=submit value="Insert">
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for category in categories %}
    <li><h2>{{ category.text }}</h2> <a href="{{ url_for('category', id=category.id) }}">{{ category.exercises }} exercises</a></li>
  {% else %}
    <li><em>No categories found.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
