{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('editSolution', id=id) }}" method=post class=add-entry>
    <dl>
      <dt>Exercise:
      <dd>{{ exercise }}
      <dt>Solution:
      <dd><textarea name=solution rows=20 cols=60>{{ solution }}</textarea>
      <dd><input type=submit name=edit value="Edit solution">
    </dl>
  </form>
{% endblock %}