{% extends "layout.html" %}
{% block body %}
  {% if parentId == -1 %}
    <h2>Adding exercise</h2>
  {% else %}
    <h2>Adding subtask</h2>
  {%endif%}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if parentId != -1 %}
    <dl>
      <dt><a href="{{ url_for('exercise', id=parentId) }}">Parent exercise</a>
      <dd>{{ parent }}
    </dl>
  {%endif%}
  <form action="{{ url_for('addExercise') }}" method=post class=add-entry>
    <dl>
      <dt>Exercise:
      <dd><textarea name=exercise rows=5 cols=60>{{ exercise }}</textarea>
      <dt>Category:
      <dd>
        <select name=catId>
        {% for category in categories %}
          <option value="{{ category.id }}"{% if category.id == catId %} selected{% endif %}>{{ category.text }}</option>
        {% endfor %}
        </select>
      <dt>Source:
      <dd>
        <select name=sourceId>
        {% for source in sources %}
          <option value="{{ source.id }}"{% if source.id == sourceId %} selected{% endif %}>{{ source.text }}</option>
        {% endfor %}
      </select> <input type=text size=30 name=source value="{{ source }}">
      <input type=hidden name=parentId value="{{ parentId }}">
    </dl>
    <input type=submit name=preview value="Preview">
    <input type=submit name=insert value="Insert">
  </form>
{% endblock %}