{% extends "layout.html" %}
{% block body %}
  {% if catId != None %}
    <h2>Category: {{ category }}</h2>
    {% if session.isAdmin %}
      {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      <form action="{{ url_for('renameCategory') }}" method=post class=add-entry>
        <dl>
          <dt>Rename category:
          <dd><input type=text size=30 name=text value="{{ newCat }}">
          <dd><input type=hidden name=catId value="{{ catId }}">
          <dd><input type=submit value="Rename">
        </dl>
      </form>
    {% endif %}
  {% endif %}
  {% if catId != None %}
    <a href="{{ url_for('addExercise', catId=catId) }}">Add exercise</a>
  {% else %}
    <a href="{{ url_for('addExercise', sourceId=sourceId) }}">Add exercise</a>
  {% endif %}
  <ul class=entries>
  {% for exercise in exercises %}
    <li>
      <h2 id="{{ exercise.id }}"><a href="{{ url_for('exercise', id=exercise.id) }}">Exercise #{{ exercise.id }}</a> (by {{ exercise.user }})</h2>
      {{ exercise.exercise|safe }}
      {% if exercise.solved %}
        <div class="flash">Exercise solved.</div>
	  {% else %}
        <div class="error">Exercise not solved yet.</div>
      {% endif %}
    </li>
  {% else %}
    <li><em>No exercises found.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
