{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  <h2>Recently added exercises:</h2>
  {% for exercise in exercises %}
    <li>
        <h2><a href="{{ url_for('exercise', id=exercise.id) }}">Exercise #{{ exercise.id }}</a></h2>
      {{ exercise.exercise|safe }}
    </li>
  {% else %}
    <li><em>No exercises found.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
