<!doctype html>
<title>TeX crowd sourcer</title>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ['\\(','\\)'] ],
      processEscapes: true
    }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='highlighting.css') }}">
<div class=page>
  <h1>TeX crowd sourcer</h1>
  <div class=metanav>
  <a href="{{ url_for('index') }}">index</a>
  <a href="{{ url_for('categories') }}">categories</a>
  <a href="{{ url_for('sources') }}">sources</a>
  {% if not session.loggedIn %}
    <a href="{{ url_for('login') }}">log in</a>
    <a href="{{ url_for('register') }}">register</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

<center>
  Written by Tim Nieradzik. Based upon <a href="http://flask.pocoo.org/">Flask</a>. <br />
  <a href="https://bitbucket.org/tindzk/tex-crowd-sourcer/">Get source.</a>
</center>
