{% extends "layout.html" %}
{% block body %}
  <h2>Preview exercise</h2>
    <dl>
      <dt><b>Exercise:</b>
      <dd>{{ exercise|safe }}
      <dt><b>Category:</b>
      <dd>{{ category }}
      <dt><b>Source:</b>
      <dd>{{ source }}: {{ sourceText }}
  </dl>

  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  {% if edit %}
    <form action="{{ url_for('editExercise') }}" method=post class=add-entry>
  {% else %}
    <form action="{{ url_for('addExercise') }}" method=post class=add-entry>
  {% endif %}

    <input name=id type=hidden value="{{ id }}" />
    <input name=exercise type=hidden value="{{ rawExercise }}" />
    <input name=catId    type=hidden value="{{ catId }}" />
    <input name=parentId type=hidden value="{{ parentId }}" />
    <input name=sourceId type=hidden value="{{ sourceId }}" />
    <input name=source   type=hidden value="{{ sourceText }}" />

    <input type=submit value="Back" />
  </form>
{% endblock %}