{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('addSolution', exerciseId=exerciseId) }}" method=post class=add-entry>
    <dl>
      <dt>Exercise:
      <dd>{{ exercise }}
      <dt>Solution:
      <dd><textarea name=solution rows=20 cols=60>{{ solution }}</textarea>
      <dd><input type=submit value="Add solution">
    </dl>
  </form>
{% endblock %}
