{% extends "layout.html" %}
{% block body %}
  {% if session.loggedIn %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('addSource') }}" method=post class=add-entry>
      <dl>
        <dt>Add new source:
        <dd><input type=text size=30 name=text>
        <dd><input type=submit value="Insert">
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for source in sources %}
    <li><h2>{{ source.text }}</h2> <a href="{{ url_for('source', id=source.id) }}">{{ source.exercises }} exercises</a></li>
  {% else %}
    <li><em>No sources found.</em></li>
  {% endfor %}
  </ul>
{% endblock %}