{% extends "layout.html" %}
{% block body %}
  <h2>View exercise</h2>
    {% if parentId != -1 %}
      <a href="{{ url_for('exercise', id=parentId) }}">Go to parent exercise</a>
    {% endif %}

    <a href="{{ url_for('category', id=catId) }}#{{id}}">Go back to category</a>

    <a href="{{ url_for('editExercise', id=id) }}">Edit exercise</a>

    <dl>
      <dt><b>Exercise:</b>
      <dd>{{ exercise|safe }}
      <dt><b>Category:</b>
      <dd>{{ category }}
      <dt><b>Source:</b>
      <dd>{{ source }}: {{ sourceText }}
      <dt><b>User:</b>
      <dd>{{ username }}
  </dl>

  <h2>Subtasks:</h2>
  {% if not subTasks %}
    There are no subtasks.
  {% else %}
    <ol type="a">
    {% for subTask in subTasks %}
      <li>
        {{ subTask.exercise|safe }}
        <br />
        <a href="{{ url_for('exercise', id=subTask.id) }}">View</a>
        <a href="{{ url_for('editExercise', id=subTask.id) }}">Edit</a>
      </li>
    {% endfor %}
    </ol>
  {% endif %}

  <br />

  <a href="{{ url_for('addExercise', parentId=id) }}">Add a subtask.</a>

  <h2>Solutions:</h2>
  {% for solution in solutions %}
    <p>
      {{ solution.text|safe }}
      <br />
      (by {{ solution.user }}) <a href="{{ url_for('editSolution', id=solution.id) }}">Edit this solution</a>
    </p>
  {% else %}
    This exercise hasn't been solved yet.
  {% endfor %}

  <br />

  {% if session.loggedIn %}
    <a href="{{ url_for('addSolution', exerciseId=id) }}">Propose a solution.</a>
  {% endif %}
{% endblock %}
